<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <listeners>
        <listener class-name="mypacketfortestng.ITestListenerClass"/>
    </listeners>
    <test name="Test for names">
        <classes>
            <class name="mypacketfortestng.TestNG1"/>
        </classes>
    </test>
</suite>